<div class="container m-t-90 p-t-30">

    <div class="panel">
        <ul class="nav nav-tabs nav-tabs-simple">
            <li class="active">
                <a data-toggle="tab" href="#bookingsTab">Bookings</a>
            </li>
            <li>
                <a data-toggle="tab" href="#notificationsTab">Notifications</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="bookingsTab">
                <%= render partial: "bookings" %>
            </div>
            <div class="tab-pane" id="notificationsTab">
                <%= render partial: "notifications" %>
            </div>
        </div>

    </div>

</div>
