<style>
    .form-horizontal .form-group {
        border-bottom: none !important;
        padding-top: 0 !important;
        padding-bottom: 10px !important;
        margin-bottom: 0 !important;
    }
</style>

<div class="container">
    <div class="panel panel-default">
        <%= render 'tabs' %>
    </div>
</div>