<div class="panel panel-default" data-pages="portlet">
    <div class="panel-heading">
        <div class="panel-title">Cart Overview</div>
        <div class="panel-controls">
          <ul>
            <li><a href="#" class="portlet-collapse" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
          </ul>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-responsive">
            <thead>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>Total Line Item Price</td>
                    <td><%= number_to_currency(@cart.total_line_items_price, locale: :ru) %></td>
                </tr>
                <tr>
                    <td>Total Discount</td>
                    <td><%= number_to_currency(@cart.total_discount, locale: :ru) %></td>
                </tr>
                <tr>
                    <td>Total Price</td>
                    <td><%= number_to_currency(@cart.total_price, locale: :ru) %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
