<div class="panel panel-default bg-white">

    <div class="panel-heading">
      
    </div>

    <div class="panel-body">
      <div id="filterrific_results">
        <%= render partial: 'list', locals: { occurrences: @occurrences } %>
      </div>
    </div>

  </div>
</div>
