// Webarch Default Theme
// --------------------------------------------------
// Copyright Reserved Revox - 2014
// --------------------------------------------------

// Import Vars
@import "var";

//Theme Overwrite

.header-default-height {
  height: $header-default-height;
}
.header-minimized-heigh {
  height: $header-minimized-height;
}
.header-bg-height {
  height: $header-big-height;
}
.header-md-height {
  height: $header-medium-height;
}
.header-sm-height {
  height: $header-small-height;
}
