<section class="p-b-40 p-t-40 b-t b-b b-grey">

  <div id="social-bar" class="social-links">
    <a class="link" href="https://www.facebook.com/getshinyrus" target="_blank">
      <i class="fa fa-facebook"></i>
      <span class="hidden-xs font-lato">
        Facebook</span>
    </a>
    <a class="link" href="https://www.instagram.com/getshiny" target="_blank">
      <i class="fa fa-instagram"></i>
      <span class="hidden-xs font-lato">
        Instagram</span>
    </a>
    <a class="link" href="https://plus.google.com/100339362875734932916" target="_blank">
      <i class="fa fa-google-plus"></i>
      <span class="hidden-xs font-lato">
        Google+</span>
    </a>
    <a class="link" href="https://api.whatsapp.com/send?phone=<%= ENV['PHONE_NUMBER_PLAIN'] %>" target="_blank">
      <i class="fa fa-whatsapp"></i>
      <span class="hidden-xs font-lato">
        Whatsapp</span>
    </a>
    <a class="link" href="https://t.me/ShinyTeam" target="_blank">
      <i class="fa fa-telegram"></i>
      <span class="hidden-xs font-lato">
        Telegram</span>
    </a>
    <a class="link" href="skype:+<%= ENV['PHONE_NUMBER_PLAIN'] %>?chat" target="_blank">
      <i class="fa fa-skype"></i>
      <span class="hidden-xs font-lato">
        Skype</span>
    </a>
    <!-- <a class="link" href="viber://add?number=+<%= ENV['PHONE_NUMBER_PLAIN'] %>" target="_blank">
        <i class="fa fa-viber"></i>
        <span class="hidden-xs font-lato"> Skype</span>
    </a> -->
  </div>

</section>
