<section class="p-b-30 p-t-30 bg-master-light">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <a href="#" target="_blank">
                    <%= image_tag "iwc.png", height: 70 %>
                </a>
            </div>
            <div class="col-sm-4 p-t-20 p-b-20">
                <h6 class="block-title"><%= t('beta.section4.title') %></h6>
            </div>
            <div class="col-sm-4">
                <a href="#" target="_blank">
                    <%= image_tag "rosinka.png", height: 70 %>
                </a>
            </div>
        </div>
    </div>
</section>
