<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
    <%= f.select :frequency_id, Frequency.all.order(:id).collect { |s| [ "#{t(s.name)} (-#{s.percent.to_i}%)", s.id, data: { percent: s.percent } ] }, {}, { include_blank: false, class: "form-control input-lg" } %>
</div>
