<div class="col-xs-12 col-sm-6">
  <div class="form-group form-group-default">
      <%= f.label :notes %>
      <%= f.text_area :notes, class: "form-control" %>
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="form-group form-group-default">
      <%= f.label :promo_code %>
      <%= f.text_field :promo_code, class: "form-control" %>
  </div>
</div>
