<div class="modal fade slide-up" id="payment_modal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
          <p class="text-center"><i class="fa fa-2x fa-credit-card"></i></p>
          <p>When adding a new card, 1 ruble will be blocked on your account and unblocked as soon as your card is checked. Before a clean, we may block the final cost of the clean on your card. We will charge you 24 hours after the clean.</p>
          <p>При добавлении карты, 1 рубль будет заблокирован на Вашей карте. Мы разблокируем его сразу же, как только Ваша карта пройдёт проверку. Заблаговременно до исполнения Вашего заказа мы можем заблокировать полную стоимость заказа и спишем ее в течении 24 часов после осуществления уборки.</p>
          <!-- <%# f.submit t('connect_my_card'), class: "btn btn-primary btn-cons btn-lg full-width" %> -->
        </div>
      </div>
    </div>
  </div>
</div>
