<div class="input-group bootstrap-timepicker timepicker pull-right">
    <!-- <%= f.label :time %> -->
    <%= f.text_field :service_time, class: "form-control input-lg" %>
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-time"></i>
    </span>
</div>
