<div class="container m-t-90">

    <div class="row">

        <div class="col-sm-5 col-md-4 col-sm-push-7 col-md-push-8">
          <%= render partial: './summary/index' %>
        </div>

        <div class="col-sm-7 col-md-8 col-sm-pull-5 col-md-pull-4">
            <%= render partial: 'form' %>
        </div>

    </div>

</div>
