<p>
    1. Предмет и понятия пользовательского соглашения
</p>
<p>
    1.1. Предметом настоящего Пользовательского соглашения («ПС») являются
    отношения между ООО «ДиСи Венчерс», являющегося правообладателем
    Интернет-сервиса, расположенного в сети Интернет по
    адресуhttps://www.getshiny.ru/ (далее «Интернет-сервис», а равно «Сервис»,
    «Сайт»), и Вами (физическим или юридическим лицом, пользователем сети
    Интернет), далее «Пользователь, Заказчик, Исполнитель», по поводу
    использования Интернет-сервиса и размещенных на нем иных сервисов (далее
    «Сервисы ООО «ДиСи Венчерс»»). Используя Сервисы ООО «ДиСи Венчерс»,
    Пользователь соглашается соблюдать условия, описанные в настоящем ПС.
    Использование определенных сервисов ООО «ДиСи Венчерс» может регулироваться
    отдельными правилами, применимыми к данному Сервису («Пользовательское
    соглашение Сервиса»), которые также являются частью данного ПС. ПС может
    быть изменено ООО «ДиСи Венчерс» без какого-либо специального уведомления.
</p>
<p>
    1.2. ПС регулирует порядок использования всех Сервисов ООО «ДиСи Венчерс».
    Положения настоящего ПС являются обязательными для всех Пользователей,
    зарегистрировавшихся посредством Интернет-сервиса, либо начавших
    использовать любой из Сервисов ООО «ДиСи Венчерс». Пользователь может
    ознакомиться с действующей версией ПС, перейдя по следующей ссылке:
    https://www.getshiny.ru/terms.
</p>
<p>
    1.3. Акцепт Заказа - должным образом оформленный с помощью Сайта в Личном
    кабинете Исполнителя ответ последнего о полном и безоговорочном принятии
    Заказа, с момента оформления Акцепта Договор подряда на уборку помещения
    между Заказчиком и Исполнителем считается заключенным на условиях указанных
    в Заказе и в Договоре, размещенном на Сайте по адресу:
    https://www.getshiny.ru/terms, и вступает в силу. (Совершение Исполнителем
    в срок, установленный для акцепта Заказа, действий по выполнению указанных
    в нем условий договора Акцептом не является).
</p>
<p>
    1.4. Аутентификационные данные (Заказчика/Исполнителя) - логин (имя
    доступа) и пароль (код доступа), которые в совокупности признаются аналогом
    собственноручной подписи Заказчика/Исполнителя. Аутентификационные данные
    Заказчик/Исполнитель выбирает самостоятельно и указывает их в момент
    прохождения процедуры регистрации на Сайте в качестве
    Заказчика/Исполнителя. Заказчик/Исполнитель самостоятельно обеспечивает
    сохранность своих Аутентификационных данных.
</p>
<p>
    1.5. Биллинговая система - специализированный аппаратно-программный
    комплекс, фиксирующий факты заключения и исполнения Заказчиками и
    Исполнителями Договоров посредством Сайта, условия заключенных Договоров,
    величину вознаграждения, право на получение которых возникло у Исполнителя,
    а также фиксирующий факт оказания, состав и количество услуг, оказанных
    Интернет-сервисом Исполнителям.
</p>
<p>
    1.6 Договор подряда на уборку помещения (он же - «Договор») - договор на
    выполнение Работ, заключенный между Заказчиком и Исполнителем на условиях,
    указанных в Заказе и в Договоре подряда на уборку Помещения, размещенном на
    Сайте по адресу:https://www.getshiny.ru/terms, посредством направления
    Заказчиком оферты (размещения Заказчиком Заказа в порядке, предусмотренном
    настоящим Соглашением) и ее акцепта Исполнителем (оформления Исполнителем
    Акцепта Заказа в порядке, предусмотренном настоящим Соглашением и
    договором).
</p>
<p>
    1.7. Лицевой счет Исполнителя - учетная запись Исполнителя в Личном
    кабинете, отражающая данные Биллинговой системы об истории движения
    платежей и о движении платежей по Договорам, причитающихся Исполнителю
    суммах денежных средств;
</p>
<p>
    1.8. Лицевой счет Клиента - учетная запись Клиента в Личном кабинете,
    отражающая данные Биллинговой системы об истории движения платежей и о
    движении платежей по Договорам, о холдированных ввиду размещения Заказов
    денежных средствах на платежных картах Заказчика.
</p>
<p>
    1.9. Личный кабинет Исполнителя - персонализированная часть Сайта, не
    доступная для всеобщего доступа, доступ к которой осуществляется путем
    ввода Аутентификационных данных (логина - имени доступа и пароля - кода
    доступа). В Личном кабинете Исполнителя отражаются данные Лицевого счета
    Исполнителя, сведения о заключенных/исполненных Договорах, претензиях
    Клиентов в адрес Исполнителя и результатах их рассмотрения, о наложенных на
    Исполнителя штрафных санкциях, об исполненных и неисполненных
    обязательствах по Договорам, о предоставляемых Исполнителю бонусах, акциях,
    в которых Исполнитель принимал, принимает или имеет право принять участие.
</p>
<p>
    1.10. Личный кабинет Клиента - персонализированная часть Сайта, не
    доступная для всеобщего доступа, доступ к которой осуществляется путем
    ввода Аутентификационных данных (логина - имени доступа и пароля - кода
    доступа). В Личном кабинете Клиента отражаются данные Лицевого счета
    Клиента, сведения о размещенных Заказах, исполненных Договорах,
    предъявленных Клиентом претензиях Исполнителям и результатах их
    рассмотрения, обязательствах Исполнителей по устранению недостатков
    выполненных Работ, бонусах, специальных предложениях, на использование
    которых имеет Клиент, акций, в которых Клиент принимал, принимает или имеет
    право принять участие;
</p>
<p>
    1.11. Подтверждение заказа - автоматически направляемое Клиенту либо
    сообщаемое представителем ООО «ДиСи Венчерс» Клиенту по телефону
    уведомление об Акцепте размещенного им Заказа с указанием идентификационных
    данных Исполнителя.
</p>
<p>
    1.12. Эквайер - кредитная организация, с которой у ООО «ДиСи Венчерс»
    заключен договор о проведении операций оплаты работ/услуг через Интернет с
    использованием платежных карт посредством системы Интернет-платежей,
    осуществляющая весь комплекс финансовых операций, связанных с выполнением
    расчетов и платежей между пользователями сайта и/или ООО «ДиСи Венчерс».
</p>
<p>
    2. Общие условия
</p>
<p>
    2.1. ООО «ДиСи Венчерс» оказывает информационные услуги Пользователям,
    услуги связи Пользователей между собой, передачи информации между
    Пользователями, предоставляет доступ к комплексу Интернет-Сервисов, включая
    различные рейтинговые Сервисы, Сервисы услуг, информационные
    контент-проекты, доступные посредством персонального компьютера и различных
    мобильных устройств, как существующие в настоящее время, так и те, которые
    будут разработаны в будущем (Сервисы ООО «ДиСи Венчерс»).
</p>
<p>
    2.2. Пользователь осознает и соглашается, что Сервисы ООО «ДиСи Венчерс»
    могут содержать сообщения от ООО «ДиСи Венчерс», такие как служебные
    сообщения, автоматические уведомления, новостные рассылки ООО «ДиСи
    Венчерс» и телефонные звонки представителя ООО «ДиСи Венчерс» с телефонного
    номера +7 (926) 391-12-84.
</p>
<p>
    2.3. Все Сервисы ООО «ДиСи Венчерс», и в том числе почтовый сервис,
    предоставляются «как есть» («as is»). ООО «ДиСи Венчерс» не принимает на
    себя никакой ответственности за задержку, удаление, недоставку или
    невозможность загрузить любые данные Пользователя, в том числе настройки
    Пользователя, а также не несет ответственности за соответствие Сервиса
    целям Пользователя. Все вопросы предоставления прав доступа к сети
    Интернет, покупки и наладки для этого соответствующего оборудования и
    программных продуктов решаются Пользователем самостоятельно и не подпадают
    под действие настоящего Пользовательского соглашения.
</p>
<p>
    2.4. Пользователь соглашается с тем, что ООО «ДиСи Венчерс» может
    осуществлять сбор обезличенных статистических данных о Пользователях
    Сервисов ООО «ДиСи Венчерс» в соответствии с политикой обработки
    персональных данных.
</p>
<p>
    2.5. ООО «ДиСи Венчерс» вправе устанавливать любые дополнительные
    требования и ограничения применительно к регистрации на Сайте и
    использованию Сервисов.
</p>
<p>
    2.6. В целях использования Интернет-сервиса как совокупности программ для
    ЭВМ ООО «ДиСи Венчерс» предоставляет Пользователю (лицензиату) на условиях
    простой (неисключительной) безвозмездной лицензии право использования
    бесплатных функциональных (программных) возможностей Интернет-сервиса.
    Использование дополнительных платных функциональных (программных)
    возможностей Интернет-сервиса ООО «ДиСи Венчерс» предоставляется
    Пользователю (лицензиату) на условиях простой (неисключительной) лицензии
    на срок, предусмотренный соответствующими дополнительными платными
    функциональными (программными) возможностями Интернет-сервиса, посредством
    получения доступа к дополнительным платным функциональным (программным)
    возможностям Интернет-сервиса и его фактического использования в пределах
    территории, на которой доступен Интернет-сервис.
</p>
<p>
    3. Вступление пользовательского соглашения в силу
</p>
<p>
    3.1. Настоящее Пользовательское соглашение, а также изменения и дополнения
    к настоящему Пользовательскому соглашению, вступают в силу с момента их
    опубликования по адресу https://www.getshiny.ru/terms. Согласие
    Пользователя с условиями Пользовательского соглашения выражается в форме
    регистрации на любом из Сервисов ООО «ДиСи Венчерс» либо путем фактического
    использования Сервисов ООО «ДиСи Венчерс».
</p>
<p>
    3.2. Пользователь вправе отказаться от принятия изменений и дополнений ПС,
    производимых ООО «ДиСи Венчерс», что означает отказ Пользователя от
    использования Сервисов ООО «ДиСи Венчерс».
</p>
<p>
    4. Обязательства пользователя по регистрации в рамках Интернет-сервиса
</p>
<p>
    4.1. Для того, чтобы воспользоваться Сервисами ООО «ДиСи Венчерс», а также
    получить права на использование дополнительных функциональных (программных)
    возможностей Интернет-сервиса, Пользователь должен пройти следующую
    процедуру регистрации:
</p>
<p>
    4.1.1. Заполнить регистрационную форму на Сервисах ООО «ДиСи Венчерс» или
    пройти процедуру регистрации с помощью администрации (или модераторов)
    Сервиса. В процессе заполнения регистрационной формы Пользователь
    самостоятельно выбирает Логин и Пароль, необходимые для последующего
    доступа к сайту, а также информационные данные.
</p>
<p>
    4.1.2. При этом ООО «ДиСи Венчерс» никаким образом не проверяет
    предоставляемую Пользователем информацию, далее по тексту учетные данные
    (если иное не предусмотрено условиями предоставления какого-либо отдельного
    Сервиса), не несет ответственности перед любыми третьими лицами за точность
    и достоверность учетных данных и не расценивает предоставленные
    Пользователем учетные данные в качестве персональных данных Пользователя.
</p>
<p>
    Размещая учетные и иные данные и сведения, и присоединяясь к
    Пользовательскому соглашению, Пользователь выражает свое согласие ООО «ДиСи
    Венчерс» на обработку учетных и иных данных, на отражение их в профиле
    Пользователя и соответствующих Сервисах с учетом доступного функционала
    (который время от времени может быть изменен по усмотрению ООО «ДиСи
    Венчерс»), а также на то, что отражаемые в профиле учетные данные и иные
    данные будут считаться доступными для пользователей сети Интернет с учетом
    такого функционала. Пользователь соглашается на передачу третьим лицам
    учетных и иных данных, в том числе для целей их обработки, для обеспечения
    функционирования Сайта, Сервисов, реализации партнерских и иных программ
    Сайта, при условии обеспечения ООО «ДиСи Венчерс» в отношении передаваемых
    данных со стороны получателя таких данных режима, аналогичного режиму,
    существующему на Сайте.
</p>
<p>
    Цель обработки учетных данных Пользователя заключается в предоставлении
    последнему возможности использования Сервисов и предоставлении прав
    использования дополнительных функциональных (программных) возможностей
    Интернет-сервиса, анализа полученных статистических данных, осуществлении
    иных действий, описанных в Пользовательском соглашении. Обработка учетных
    данных Пользователя осуществляется в срок с момента регистрации
    Пользователя и до момента удаления его учетной записи.
</p>
<p>
    Пользователь соглашается с тем, что ООО «ДиСи Венчерс» в процессе обработки
    учетных данных имеет право осуществлять с учетными данными следующие
    действия: сбор, систематизацию, накопление, хранение, использование,
    уничтожение и иные необходимые в целях исполнения Пользовательского
    соглашения. После регистрации учетной записи Пользователь вправе
    осуществлять наполнение учетной записи Пользователя контентом
    самостоятельно или с помощью модераторов, в том числе добавлять фотографии,
    размещать информацию по услугам и пользоваться иными правами,
    предоставленными ООО «ДиСи Венчерс». При этом Пользователь обязуется не
    размещать на Сервисах ООО «ДиСи Венчерс» фотографии, адреса электронной
    почты, телефонные номера и прочую личную информацию других Пользователей
    или любых третьих лиц без их личного согласия на такие действия.
</p>
<p>
    4.2. Пользователь несет персональную ответственность за сохранность и
    безопасность своего Пароля и информационных данных.
</p>
<p>
    4.2.1. ООО «ДиСи Венчерс» не несет ответственности и не гарантирует
    безопасность данных Пользователя в случаях: передачи третьим лицам
    (умышленно или по неосторожности) Пароля; доступа третьих лиц к
    электронному почтовому ящику Пользователя с использованием программных
    средств, позволяющих осуществить подбор и/или раскодирование Пароля;
    доступа третьих лиц к электронному почтовому ящику Пользователя путем
    простого подбора Пароля; невыполнение Пользователем рекомендаций, указанных
    в настоящем Пользовательском соглашении или интерфейсе Сервиса.
</p>
<p>
    4.3. ООО «ДиСи Венчерс» вправе предоставить Пользователю возможность
    передавать учетные данные третьим лицам посредством специальных технологий
    (Open ID и др.), при условии согласия Пользователя на такую передачу. При
    этом ООО «ДиСи Венчерс» не гарантирует Пользователю полноту и корректность
    передачи учетных данных и не несет ответственности за сохранность данных в
    процессе передачи.
</p>
<p>
    4.4. Пользователь обязуется:
</p>
<p>
    4.4.1. немедленно уведомлять ООО «ДиСи Венчерс» о любом неразрешенном
    Пользователем использовании своего пароля или учетной записи, или о любом
    другом нарушении безопасности;
</p>
<p>
    4.4.2. осуществлять выход из своей учетной записи (завершать каждую сессию
    по кнопке «Выход») по окончании работы со своей учетной записью и
    персональной частью Сервисов ООО «ДиСи Венчерс». ООО «ДиСи Венчерс» не
    отвечает за возможную потерю или порчу данных, которая может произойти
    из-за несоблюдения рекомендаций, изложенных в разделе 4 настоящего
    Пользовательского соглашения.
</p>
<p>
    4.5. Пароль любых Сервисов ООО «ДиСи Венчерс» Пользователя может быть
    восстановлен только в случае точного, верного и полного указания
    информации, указанной при регистрации учетной записи. Если Пользователь
    пренебрег точным, верным и полным указанием регистрационной информации,
    Служба поддержки ООО «ДиСи Венчерс» не сможет при обращении восстановить
    пароль. ООО «ДиСи Венчерс» рекомендует беречь пароль и заполнять
    регистрационную форму Сервисов ООО «ДиСи Венчерс» точно, верно и полно.
</p>
<p>
    5. Правила поведения зарегистрированного пользователя
</p>
<p>
    5.1. Пользователь несет полную ответственность, как за содержание своих
    сообщений, так и за всю информацию, данные и другие материалы (далее
    «Материалы»), публично опубликованные и/или переданные с помощью Сервисов
    ООО «ДиСи Венчерс». Это означает, что Пользователь, а не ООО «ДиСи
    Венчерс», полностью отвечает за все материалы, которые Пользователь
    загружает, отправляет, получает, передает или каким-либо другим способом
    делает доступными с помощью Сервисов ООО «ДиСи Венчерс».
</p>
<p>
    5.1.1. Пользователь соглашается с тем, что загружая на Сайт Материалы,
    Пользователь предоставляет к ним доступ для остальных зарегистрированных
    Пользователей по умолчанию. ООО «ДиСи Венчерс» является лишь средством,
    позволяющим Пользователю осуществлять доступ и сообщение Материалов для
    всеобщего сведения.
</p>
<p>
    5.2. Пользователь обязуется не использовать Сервисы ООО «ДиСи Венчерс» для:
</p>
<p>
    5.2.1. выдачи себя за другого человека или представителя организации и/или
    сообщества, в том числе за Службу поддержки ООО «ДиСи Венчерс», работников
    ООО «ДиСи Венчерс», за модераторов, а также введения в заблуждение;
</p>
<p>
    5.2.2. загрузки, отправки, передачи или любого другого способа
    опубликования материалов, которые Пользователь не имеет права делать
    доступными по закону или согласно каким-либо соглашениям с третьими лицами;
</p>
<p>
    5.2.3. загрузки, отправки, передачи или любого другого способа
    опубликования материалов, которые нарушают любые права третьих лиц, в том
    числе право на товарные знаки (знаки обслуживания), коммерческую тайну
    и/или для нарушения любых иных прав интеллектуальной собственности третьих
    лиц;
</p>
<p>
    5.2.4. нарушения каких-либо норм действующего российского и/или
    международного законодательства, а также законодательства иностранных
    государств;
</p>
<p>
    5.2.5. сбора и хранения персональных данных третьих лиц;
</p>
<p>
    5.2.6. отправки в чей-либо адрес электронных писем посредством размещения в
    Сервисах ООО «ДиСи Венчерс» текста, фото и видеоматериалов, содержащих
    грубые, непристойные или оскорбительные выражения и предложения;
</p>
<p>
    5.2.7. размещения ссылок на ресурсы сети Интернет, содержание которых
    противоречит действующему законодательству РФ.
</p>
<p>
    5.3. Кроме случаев, установленных настоящим Пользовательским соглашением, а
    также действующим законодательством Российской Федерации, никакие материалы
    не могут быть скопированы (воспроизведены), переработаны, распространены,
    отображены, опубликованы, скачаны, переданы, проданы или иным способом
    использованы целиком или по частям без предварительного разрешения на то
    ООО «ДиСи Венчерс» либо соответствующего правообладателя, за исключением
    случаев, когда правообладатель явным образом выразил свое согласие на
    свободное использование материала.
</p>
<p>
    5.4. Пользователь имеет право размещать посредством Сервисов ООО «ДиСи
    Венчерс» объекты интеллектуальной собственности, право на использование
    которых принадлежат Пользователю.
</p>
<p>
    5.5. Любое использование Сервисов ООО «ДиСи Венчерс», кроме разрешенного
    настоящим Пользовательским соглашением или в случае явно выраженного
    согласия автора (Правообладателя) на такое использование, без
    предварительного письменного разрешения Правообладателя, категорически
    запрещено.
</p>
<p>
    5.6. В случае поступления от соответствующего правообладателя
    мотивированной жалобы на нарушение его охраняемых законом прав, ООО «ДиСи
    Венчерс» вправе удалить размещенный Пользователем контент либо
    заблокировать доступ к нему Пользователей без уведомления Пользователя и
    без объяснения причин.
</p>
<p>
    5.7. Пользователь соглашается с тем, что он несет личную ответственность за
    любые материалы или иную информацию, которые он загружает или иным образом
    доводит до всеобщего сведения (публикует) в рамках Сервисов ООО «ДиСи
    Венчерс» или с их помощью. Пользователь не может загружать, передавать или
    публиковать материалы на Сервисах ООО «ДиСи Венчерс», если они не были
    созданы лично Пользователем или на размещение которых у Пользователя нет
    разрешения соответствующего правообладателя.
</p>
<p>
    5.8. В случае поступления претензий от третьих лиц, связанных с размещением
    Пользователем материалов, Пользователь самостоятельно и за свой счет
    урегулирует указанные претензии.
</p>
<p>
    5.9. ООО «ДиСи Венчерс» вправе делать копии материалов с целью упорядочения
    и облегчения публикации и хранения Пользовательского контента на Сайте.
</p>
<p>
    5.11. Пользователь соглашается с тем, что он несет личную ответственность
    за любую информацию и за любые материалы, которые он размещает в Сервисах
    ООО «ДиСи Венчерс», и за его (Пользователя) взаимодействия с другими
    Пользователями.
</p>
<p>
    5.12. ООО «ДиСи Венчерс» не отвечает за любое поведение Пользователей,
    использующих Сервисы ООО «ДиСи Венчерс», как в режиме «онлайн», так и вне
    сети Интернет (в «оффлайн»).
</p>
<p>
    5.14. ООО «ДиСи Венчерс» вправе по первому требованию соответствующего
    уполномоченного правоохранительного и иного уполномоченного
    государственного органа, но в соответствии с действующим законодательством,
    передавать такому государственному органу имеющуюся информацию о
    Пользователе.
</p>
<p>
    6. Некоммерческое использование
</p>
<p>
    Пользователь соглашается не воспроизводить, не повторять и не копировать,
    не продавать и не перепродавать, а также не использовать в каких-либо
    коммерческих целях любые объекты интеллектуальной собственности,
    размещенные в Сервисах ООО «ДиСи Венчерс», кроме тех случаев, когда такое
    разрешение дано Пользователю со стороны ООО «ДиСи Венчерс».
</p>
<p>
    7. Общие положения об использовании и хранении информации и материалов
</p>
<p>
    7.1. Пользователь признает, что ООО «ДиСи Венчерс» может устанавливать
    ограничения в использовании Сервисов ООО «ДиСи Венчерс», в том числе: срок
    хранения сообщений и любых иных материалов, размещаемых Пользователем,
    максимальное количество сообщений, которые могут быть отправлены или
    получены одним Пользователем, максимальный размер дискового пространства,
    максимальное количество обращений к Сервисам ООО «ДиСи Венчерс» за
    определенный период времени и др.
</p>
<p>
    7.2. ООО «ДиСи Венчерс» имеет право запретить автоматическое обращение к
    Сервисам ООО «ДиСи Венчерс», а также прекратить прием любой информации,
    сгенерированной автоматически (например, «Спама»). ООО «ДиСи Венчерс» по
    своему усмотрению может прекратить поддерживать связь с сетями, нарушающими
    нормы действующего российского и международного законодательства, условия
    настоящего Пользовательского соглашения, а также общепринятые принципы
    взаимодействия, сложившиеся в сети Интернет.
</p>
<p>
    7.3. Пользователь, используя функционал Сервисов ООО «ДиСи Венчерс»,
    соглашается с тем, что информация Пользователя может быть передана
    партнерам ООО «ДиСи Венчерс» исключительно в целях обеспечения оказания
    заказываемых Пользователем услуг, а равно предоставления Пользователям прав
    использования дополнительных функциональных (программных) возможностей
    Интернет-сервиса, предоставляемых совместно с этими партнерами, и
    исключительно в объеме, необходимом для надлежащего оказания этих услуг и
    предоставления указанных прав.
</p>
<p>
    8. Прекращение действия учетной записи и сайта пользователя, а также
    удаление материалов, размещенных пользователем
</p>
<p>
    8.1. Пользователь согласен с тем, что ООО «ДиСи Венчерс» оставляет за собой
    право прекратить действие учетной записи Пользователя в любое время без
    предварительного уведомления Пользователя.
</p>
<p>
    8.2. Прекращение действия учетной записи может быть произведено в связи со
    следующими причинами: а) нарушение положений настоящего Пользовательского
    соглашения и/или Пользовательского соглашения Сервиса ООО «ДиСи Венчерс»,
    его частей, а также дополнений к нему, являющихся их неотъемлемой частью;
    б) по соответствующему запросу органов власти, согласно законодательству
    Российской Федерации; в) в связи с непредвиденными проблемами технического
    характера или обстоятельствами, связанными с безопасностью; д) из-за
    создания помех и любых нарушений в отношении Сервисов ООО «ДиСи Венчерс»,
    включая использование любых устройств, программного обеспечения и т.п.
</p>
<p>
    8.3. ООО «ДиСи Венчерс» оставляет за собой право по своему собственному
    усмотрению изменять (модерировать) или удалять любую публикуемую
    Пользователем информацию, в том числе информацию (материалы),
    нарушающую(-ие) запреты, установленные разделом 5 настоящего
    Пользовательского соглашения (а также любые иные запреты и требования,
    содержащиеся в действующем законодательстве Российской Федерации), включая
    личные сообщения и комментарии, приостанавливать, ограничивать или
    прекращать доступ к любым Сервисам ООО «ДиСи Венчерс» в любое время по
    любой причине или без объяснения причин, с предварительным уведомлением или
    без такового, не отвечая за любой вред, который может быть причинен
    Пользователю таким действием, вносить информацию в сведения о размещенных
    Заказах, исполненных Договорах, предъявленных Клиентом претензиях
    Исполнителям и результатах их рассмотрения, обязательствах Исполнителей по
    устранению недостатков выполненных Работ от имени Клиента на основании
    соответствующего поручения Клиента, полученного представителем ООО «ДиСи
    Венчерс» в телефонном разговоре.
</p>
<p>
    8.4. ООО «ДиСи Венчерс» вправе удалить аккаунт (учетную запись)
    Пользователя и/или приостановить, ограничить или прекратить доступ к любому
    из сервисов Сайта, если ООО «ДиСи Венчерс» обнаружит в действиях
    Пользователя признаки нарушения условий настоящего Пользовательского
    соглашения, без объяснения причин таких действий. ООО «ДиСи Венчерс»
    оставляет за собой право удалить любые материалы, размещенные Пользователем
    в рамках Сервисов ООО «ДиСи Венчерс», без объяснения причин и без
    предварительного уведомления Пользователя, однако ООО «ДиСи Венчерс»
    приложит все возможные усилия для избежания подобных ситуаций.
</p>
<p>
    8.5. Прекращение действия учетной записи Пользователя предполагает: а)
    удаление доступа Пользователя к персональной части всех Сервисов ООО «ДиСи
    Венчерс»; б) удаление пароля и освобождение сайта от файлов Пользователя и
    удаление его личных настроек.
</p>
<p>
    8.6. Пользователь имеет право отказаться от использования своей учетной
    записи в Сервисах ООО «ДиСи Венчерс», при этом материалы, размещенные в
    Сервисах ООО «ДиСи Венчерс» уничтожается без возможности восстановления.
</p>
<p>
    9. Право ООО «ДиСи Венчерс» на объекты интеллектуальной собственности
</p>
<p>
    9.1. Пользователь признает и соглашается с тем, что Сервисы ООО «ДиСи
    Венчерс» содержат в себе аудиовизуальные произведения, программы для ЭВМ,
    товарные знаки и иные объекты интеллектуальной собственности, права на
    которые принадлежат ООО «ДиСи Венчерс» (и/или контрагентам ООО «ДиСи
    Венчерс»), и не могут быть использованы без получения предварительного
    согласия от ООО «ДиСи Венчерс».
</p>
<p>
    9.2. Пользователь обязуется не воспроизводить, не копировать, не
    модифицировать, не продавать, не доводить до всеобщего сведения, не
    распространять контент и программы Интернет-сервиса, целиком либо по
    частям, за исключением случаев, когда Пользовательским соглашением либо
    условиями пользования каким-либо Сервисом ООО «ДиСи Венчерс» предусмотрено
    иное.
</p>
<p>
    10. Оказание услуг и ответственность ООО «ДиСи Венчерс»
</p>
<p>
    Пользователь понимает и соглашается с тем, что:
</p>
<p>
    10.1. Пользователь использует Сервисы ООО «ДиСи Венчерс» «как есть». ООО
    «ДиСи Венчерс» не принимает на себя никакой ответственности, в том числе за
    соответствие Сервисов ООО «ДиСи Венчерс» целям Пользователя;
</p>
<p>
    10.2. ООО «ДиСи Венчерс» не гарантирует, что Сервисы будут соответствовать
    требованиям Пользователя; будут предоставляться непрерывно, быстро, надежно
    и без ошибок; результаты, которые могут быть получены Пользователем, будут
    точными и надежными; качество какого-либо продукта, информации и прочего,
    полученного с использованием Сервисов ООО «ДиСи Венчерс», будут
    соответствовать ожиданиям Пользователя, и что все ошибки в программах будут
    исправлены;
</p>
<p>
    10.3. Любые материалы (объекты интеллектуальной собственности), полученные
    Пользователем с использованием Сервисов ООО «ДиСи Венчерс», Пользователь
    может использовать на свой собственный страх и риск, при этом на
    Пользователя возлагается ответственность за любой ущерб, который может быть
    нанесен компьютеру Пользователя и данным Пользователя в результате загрузки
    этих материалов;
</p>
<p>
    10.4. ООО «ДиСи Венчерс» не несет ответственности за любые прямые либо
    косвенные убытки, произошедшие из-за использования либо невозможности
    использования Сервисов ООО «ДиСи Венчерс»; из-за несанкционированного
    доступа к коммуникациям Пользователя; из-за мошеннической деятельности
    третьих лиц, включая использование обозначения либо товарного знака ООО
    «ДиСи Венчерс» в корыстных целях.
</p>
<p>
    10.5. ООО «ДиСи Венчерс» не несет ответственности за использование
    пользователем электронного почтового ящика в коммерческих целях, включая
    хранение документов и ведение деловой переписки.
</p>
<p>
    10.6. ООО «ДиСи Венчерс» может оказывать Пользователю Услуги (далее -
    «Услуги») по предоставлению информации о размещении на Сайте Задания
    Заказчика, а также услуги по предоставлению возможности оставить
    Предложение к Заданию. Услуги оказываются Компанией всем Пользователям на
    платной основе. Указанные услуги могут предоставляться как в форме
    электронных сообщений, направляемых представителем ООО «ДиСи Венчерс»
    Клиентам, так и в форме смс сообщений или по телефону с номера +7 (926)
    391-12-84.
</p>
<p>
    ООО «ДиСи Венчерс» обязуется:
</p>
<ul>
    <li>
        оказывать Пользователю Услуги в порядке и на условиях данного
        соглашения
    </li>
    <li>
        при оказании Услуг обеспечить возможность доступа Пользователя к данным
        Профиля с использованием логина и пароля,
    </li>
    <li>
        считать оплатой Пользователя за Услуги те денежные средства, в
        назначении платежа которых был указан номер ID (уникальный номер,
        позволяющий ООО «ДиСи Венчерс» идентифицировать Пользователя).
    </li>
</ul>
<p>
    ООО «ДиСи Венчерс» имеет право:
</p>
<ul>
    <li>
        временно приостановить оказание Пользователю Услуги по техническим,
        технологическим или иным причинам, препятствующим оказанию Услуг, на
        время устранения таких причин;
    </li>
    <li>
        приостановить оказание Услуг путем направления соответствующего
        уведомления на адрес электронной почты, указанный последним при
        использовании Сайта или путем сообщения соответствующей информации по
        телефонному номеру, указанным Клиентом при использовании Сайта –
        направлением смс сообщения или в телефонном разговоре – в случаях
        нарушения Пользователем обязательств и/или гарантий, принятых в
        соответствии с пользовательским соглашением.
    </li>
</ul>
<p>
    Пользователь имеет право:
</p>
<ul>
    <li>
        пользоваться Услугами ООО «ДиСи Венчерс» при условии Акцепта
        пользовательского соглашения, размещенного по адресу
        https://www.getshiny.ru/terms в качестве Оферты;
    </li>
    <li>
        принимать оказанные ООО «ДиСи Венчерс» Услуги в порядке и в сроки,
        установленные пользовательским соглашением.
    </li>
</ul>
<p>
    Пользователь обязуется:
</p>
<ul>
    <li>
        при пользовании Услугами ООО «ДиСи Венчерс» соблюдать все условия
        оказания Услуг, установленные в пользовательском соглашении.
    </li>
    <li>
        своевременно оплачивать Услуги ООО «ДиСи Венчерс» ;
    </li>
    <li>
        при оплате Услуг Компании указывать номер ID (уникальный номер,
        позволяющий Компании идентифицировать Пользователя);
    </li>
    <li>
        не злоупотреблять предоставленными возможностями, не использовать
        самостоятельно или с привлечением третьих лиц оказание Услуг и/или
        возможности использования Сервисов ООО «ДиСи Венчерс» в целях, которые
        могут быть квалифицированы как нарушение прав третьих лиц на объекты
        интеллектуальной собственности, недобросовестная конкуренция, иное
        нарушение закона; не осуществлять действий, которые влияют на
        нормальную работу Сайта.
    </li>
</ul>
<p>
    10.7. Стоимость Услуг ООО «ДиСи Венчерс» определяется в зависимости от типа
    Задания и включена для удобства в стоимость предложения как Заказчика, так
    и Исполнителя.
</p>
<p>
    10.8. В Заданиях без комиссии стоимость размещения Предложения указывается
    непосредственно на странице Задания.
</p>
<p>
    10.9. Услуги считаются оплаченными Пользователем с момента получения
    Компанией подтверждения из банка о поступлении всей суммы оплаты Задания на
    расчетный счет ООО «ДиСи Венчерс» либо признания ООО «ДиСи Венчерс» факта
    платежа в пользу ООО «ДиСи Венчерс» через платежную систему в случае
    осуществления Пользователем электронного платежа.
</p>
<p>
    10.10. Заказчик и Исполнитель обязаны подтвердить факт выполнения Задания с
    помощью сервисов Сайта либо по телефону представителю ООО «ДиСи Венчерс» по
    телефонному номеру+7 (926) 391-12-84. В случае расхождения информации,
    полученной от Заказчика и Исполнителя, в отношении Цены Задания и факта его
    выполнения, ООО «ДиСи Венчерс» вправе провести проверку и откорректировать
    итоговую Цену Задания, а также установить факт выполнения или невыполнения
    Задания. Заказчик и Исполнитель обязаны соблюдать условия Соглашения об
    использовании ресурса и сообщать Администрации исключительно достоверную
    информацию в отношении всех условий выполнения Заданий, особенно в
    отношении Цены и качества выполнения. Решение ООО «ДиСи Венчерс» по
    установлению Цены и факта выполнения Заданий является окончательным и
    изменению не подлежит.
</p>
<p>
    Услуги считаются оказанными ООО «ДиСи Венчерс» Пользователю:
</p>
<ul>
    <li>
        После установления факта выполнения Задания.
    </li>
</ul>
<p>
    10.11. В последний день отчетного периода и/или по завершении оказания
    Услуг, ООО «ДиСи Венчерс» формирует односторонний Акт об оказанных услугах
    в соответствии с объемом фактически оказанных в отчетном периоде Услуг.
    Отчетным периодом признается календарный месяц. Услуги считаются оказанными
    ООО «ДиСи Венчерс» надлежащем образом и принятыми Пользователем в объеме,
    указанном в Акте об оказанных услугах, если в течение десяти календарных
    дней по завершении отчетного периода ООО «ДиСи Венчерс» не получила от
    Пользователя мотивированных письменных возражений. По истечении срока,
    указанного выше, претензии Пользователя относительно недостатков Услуг, в
    том числе по количеству (объему), стоимости и качеству не принимаются.
</p>
<p>
    11. Конфиденциальность ООО «ДиСи Венчерс»
</p>
<p>
    11.1. ООО «ДиСи Венчерс» может использовать технологии идентификации
    Пользователей, в том числе с использованием файлов cookies, а также
    использовать указанные технологии в маркетинговых целях для изучения
    предпочтений Пользователей. При этом такая идентификация носит
    неперсонифицированный и обобщенный характер, ООО «ДиСи Венчерс» не
    отслеживает действий отдельных Пользователей и не осуществляет передачу
    сведений о них. Тем не менее, указанные сведения могут предоставляться
    уполномоченным государственным органам в соответствии с действующим
    законодательством РФ.
</p>
<p>
    11.2. В пределах функционирования Сервисов ООО «ДиСи Венчерс»
    обеспечивается тайна сообщений и соблюдается конфиденциальность информации
    о Пользователях ООО «ДиСи Венчерс», за исключением случаев, предусмотренных
    законодательством Российской Федерации.
</p>
<p>
    11.3. Пользователь дает согласие на использование регистрационных данных со
    стороны ООО «ДиСи Венчерс» в обобщенном виде, в целях «таргетинга» на
    Сервисах ООО «ДиСи Венчерс».
</p>
<p>
    12. Исключительная зона действий услуг Пользователя-Исполнителя в рамках
    платформы оказания услуг по уборке помещений.
</p>
<p>
    Все комнаты: уборка пыли, протирание всех доступных поверхностей,
    протирание столов, подоконников и створок шкафов, чистка и натирание
    зеркал,чистка осветительных приборов (если доступ к ним возможен), чистка
    плинтусов, обработка пылесосом ковровых покрытий, обработка пылесосом и
    протирание других напольных покрытий, вынос мусорных ведер.
</p>
<p>
    Прихожая: наведение порядка в обуви и верхней одежде, наведение порядка в
    шкафах и на полках.
</p>
<p>
    Кухня: чистка столешницы и кухонных фартуков, чистка внешних панелей
    духовки, варочной поверхности и вытяжки (если доступ возможен), чистка
    внешних панелей микроволновой печи, холодильника и посудомоечной машины,
    протирание внешних панелей кухонных шкафов и ящиков, протирание пыль и
    чистка кухонной техники (кофе машина и т.д.), чистка и натирание кухонной
    раковины и сантехники.
</p>
<p>
    Ванная комната: чистка плитки и перегородок, чистка ванны, душевой и
    туалетного столика, чистка туалета, протирание внешних панелей кухонных
    шкафов и ящиков, вынос мусорной корзины, чистка стакана для зубных щеток.
</p>
<p>
    Спальня: заправка постели, протирать пыли с мебели, чистка и натирание
    зеркальных поверхностей.
</p>
<p>
    Гостиная: протирание мебели (такой, как кресла, диваны), протирание
    электроприборов.
</p>
<p>
    По завершению: Вынос мешков с мусором
</p>
<p>
    13. Информационная безопасность
</p>
<p>
    13.1. Пользователь не имеет права осуществлять доступ к любой другой
    информации Сервисов ООО «ДиСи Венчерс», помимо собственной информации
    Пользователя, а также к информации, которая является общедоступной в
    Сервисах ООО «ДиСи Венчерс».
</p>
<p>
    13.2. При обнаружении лица, осуществляющего действия, квалифицирующиеся как
    спам, ООО «ДиСи Венчерс» имеет право блокировать получение почтовых
    сообщений с почтового адреса указанного лица (в том числе Пользователей) в
    системе ООО «ДиСи Венчерс».
</p>
<p>
    13.3. ООО «ДиСи Венчерс» не несет ответственности за сохранность имени
    учетной записи ООО «ДиСи Венчерс» и пароля Пользователя, если такой
    Пользователь использует для доступа формы, расположенные на внешних
    Интернет-сайтах.
</p>
<p>
    14. Перерывы в работе Интернет-сервиса
</p>
<p>
    14.1. ООО «ДиСи Венчерс» имеет право производить профилактические работы в
    Сервисах ООО «ДиСи Венчерс» с временным приостановлением работы Сервисов
    ООО «ДиСи Венчерс».
</p>
<p>
    14.2. В случае наступления форс-мажорных обстоятельств, а также аварий или
    сбоев в программно-аппаратных комплексах третьих лиц, сотрудничающих с ООО
    «ДиСи Венчерс», или действий третьих лиц, направленных на приостановку или
    прекращение функционирования всех или части Сервисов ООО «ДиСи Венчерс»,
    возможна приостановка работы Сервисов ООО «ДиСи Венчерс» без
    предварительного уведомления Пользователей.
</p>
<p>
    15. Обратная связь и порядок рассмотрения претензий
</p>
<p>
    Пользователь, считающий, что его права и интересы нарушены из-за действий
    ООО «ДиСи Венчерс», может направить претензию. Рассмотрением претензий
    занимается Служба поддержки Пользователей ООО «ДиСи Венчерс» в соответствии
    с общим порядком рассмотрения поступающих запросов. Контактная форма для
    связи с ООО «ДиСи Венчерс» располагается по адресу:
    https://www.getshiny.ru/terms
</p>
<p>
    По вопросам относительно работы Сервисов ООО «ДиСи Венчерс» Пользователь
    может обращаться в Службу поддержки пользователей по адресу:
    https://www.getshiny.ru/terms
</p>
<p>
    Пользователь и ООО «ДиСи Венчерс» соглашаются с тем, что все возможные
    споры по поводу Пользовательского соглашения будут разрешаться в
    соответствии с нормами действующего законодательства Российской Федерации.
</p>
<p>
    16. Общая информация
</p>
<p>
    16.1. Ничто в Пользовательском соглашении не может пониматься как
    установление между Пользователем и ООО «ДиСи Венчерс» агентских отношений,
    отношений товарищества, отношений по совместной деятельности, отношений
    личного найма, либо каких-то иных отношений, прямо не предусмотренных ПС.
</p>
<p>
    16.2. Признание судом какого-либо положения ПС недействительным или не
    подлежащим принудительному исполнению не влечет недействительности или
    неисполнимости иных положений ПС.
</p>
<p>
    16.3. Бездействие со стороны ООО «ДиСи Венчерс» в случае нарушения
    Пользователем либо иными третьими лицами положений ПС не лишает ООО «ДиСи
    Венчерс» права предпринять соответствующие действия в защиту своих
    интересов позднее.
</p>
<p>
    16.4. Все споры сторон по настоящему соглашению подлежат разрешению путем
    переписки и переговоров с использованием обязательного досудебного
    (претензионного) порядка. В случае невозможности достичь согласия между
    сторонами путем переговоров в течение 60 (шестидесяти) календарных дней с
    момента получения другой Стороной письменной претензии, рассмотрение спора
    должно быть передано любой заинтересованной стороной в суд по месту
    нахождения ООО «ДиСи Венчерс» (договорная подсудность).
</p>
<p>
    17. Изменения и дополнения к ПС
</p>
<p>
    17.1. Пользователь вправе отказаться от принятия изменений и дополнений ПС,
    производимых ООО «ДиСи Венчерс», что означает отказ Пользователем от
    использования Интернет-сервиса и предоставленных ранее прав.
</p>
<p>
    17.2. В случае принятия нормативно-правовых актов органами власти
    Российской Федерации, затрагивающих целиком или в части функционирование
    ООО «ДиСи Венчерс» и Сервисов ООО «ДиСи Венчерс», ООО «ДиСи Венчерс»
    сохраняет за собой право внесения любых изменений в функционирование
    Сервисов ООО «ДиСи Венчерс», направленных на приведение деятельности ООО
    «ДиСи Венчерс» в соответствие с новыми нормами.
</p>
<p>
    Использование Сервиса ООО «ДиСи Венчерс» означает безусловное согласие
    Пользователя с положениями настоящего Пользовательского соглашения.
</p>
