<div class="container m-t-90 p-t-30">

  <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-title">New Promo</div>
      </div>
      <div class="panel-body">
        <%= render partial: "form" %>
      </div>
    </div>
</div>
