
<div style="height: 80vh">
<div class="container m-t-90">

  <div class="panel panel-default">
      <div class="panel-heading">
          Payment provider is down
      </div>
      <div class="panel-body">
        Our payment provider is currently unreachable. But rest assured, <b>your booking has been registered</b>. We will contact you asap.
      </div>
  </div>
</div>
</div>
