
<div style="height: 80vh">
<div class="container m-t-90">

  <div class="panel panel-default">
      <div class="panel-heading">
          Booking successful!
      </div>
      <div class="panel-body">
        Congratulations! We will be in touch asap!
      </div>
  </div>
</div>
</div>
