<div class="container m-t-90">
    <div class="panel panel-default">
        <div class="panel-body">
            <%= render partial: "shared/terms/#{I18n.locale}" %>
        </div>
    </div>
</div>
