<div class="container m-t-90">
    <div class="panel panel-default">
        <div class="panel-body text-justify">
            <p class="c2">
                <span>This agreement was written in English (US). To the extent any translated version of this agreement conflicts with the Russian version, the Russian version controls.</span>
            </p>
            <p class="c2">
                <span>Date of Last Revision: August 12, 2016</span>
            </p>
            <h3 class="c0" id="h.1tgqexo8iyo1">
                <span>1. Subject and notions of the User agreement</span>
            </h3>
            <p class="c2">
                <span>1.1. The subject of the present User agreement (&ldquo;UA&rdquo;) shall include the relations between DC Ventures, LLC (Primary State Registration Number 5157746072127, TIN 7723418956), the owner of the Internet service at the following url
                    https://www.getshiny.ru/ (hereinafter referred to as the Internet service, or &ldquo;Service&rdquo;, &ldquo;Web-site&rdquo;), and you (an individual or a legal entity, the Internet user), hereinafter referred to as the &ldquo;User, Customer,
                    Contractor&rdquo;, as related to use of the Internet service and the services thereon (hereinafter referred to as the &ldquo;DC Ventures, LLC Services&rdquo;). To use the DC Ventures, LLC Services the User shall comply with the terms hereof. Use of
                    certain DC Ventures, LLC Services may be governed by certain rules, applicable to such Service (&ldquo;Service user agreement&rdquo;), incorporated by reference in its entirety herein. The User agreement may be amended by DC Ventures, LLC without any
                    special notice.</span>
            </p>
            <p class="c2">
                <span>1.2. User agreement shall govern the procedure for use of all the DC Ventures, LLC Services. The terms hereof shall be binding for all the Users, registered in the Internet service or started using any of the DC Ventures, LLC Services. The user
                    may check the effective version of the UA at the following url: https://www.getshiny.ru/terms.</span>
            </p>
            <p class="c2">
                <span>1.3. Order acceptance shall mean reply of the Contractor, properly formed using the Web-site in the Personal area thereof, about complete and unconditioned Order acceptance. From the moment of Acceptance the Customer and the Contractor shall be
                    deemed to have entered into the Premises cleaning contract under the terms of the Order and of the Contract at the following url: https://www.getshiny.ru/terms and the contract shall become effective (Actions by the Contractor in terms, set for the
                    Order acceptance, related to compliance with the contract terms, shall not be considered the Acceptance).
                </span>
            </p>
            <p class="c2">
                <span>1.4. Authentication data (of the Customer/Contractor) &ndash; login (access name) and password (access code), in aggregate shall be considered similar to the handwritten signature by the Customer/Contractor. The Customer/Contractor shall choose
                    his Authentication data and shall indicate it at the moment of the registration procedure on the Web-site as the Customer/Contractor. The Customer/Contractor shall ensure safety of his Authentication data.
                </span>
            </p>
            <p class="c2">
                <span>1.5. Billing system shall mean hardware and software complex, fixing the facts of entry and performance by the Customers and the Contractors of the Contracts using the Site, the terms of such Contracts, the fee amount, due to the Contractor,
                    and also fixing the fact of rendering, composition and scope of the services, rendered by the Internet service to the Contractors.
                </span>
            </p>
            <p class="c2">
                <span>1.6 The Premises cleaning contract (hereinafter referred to as the &ldquo;Contract&rdquo;) shall mean the contract for Works, entered into between the Customer and the Contractor under the terms of the Order and of the Premises cleaning
                    contract on the Site at the following url: https://www.getshiny.ru/terms, by sending the Customer&rsquo;s offer (the Customer places the Order in accordance with the procedure, provided hereby), and by the Contractor&rsquo;s acceptance thereof (the
                    Contractor issues the Order acceptance in accordance with the procedure, provided hereby and by the contract).
                </span>
            </p>
            <p class="c2">
                <span>1.7. Contractor&rsquo;s personal account shall mean the Contractor&rsquo;s record entry in the personal area, reflecting the Billing system data concerning the payment history about the payment flow under the Contracts and the Agent contract
                    for getting clients, as to money due to the Contractor;
                </span>
            </p>
            <p class="c2">
                <span>1.8. Client&rsquo;s personal account shall mean the Client&rsquo;s record entry in the personal area, reflecting the Billing system data concerning the payment history about the payment flow under the Contracts, money put on hold on the
                    Customer&rsquo;s payment cards due to Order placement.
                </span>
            </p>
            <p class="c2">
                <span>1.9. Contractor&rsquo; personal area shall mean a special part of the Site, not available for public, to be accessed by entry of the Authentication data (login &ndash; access name and password &ndash; access code). The data on the
                    Contractor&rsquo;s personal account, the data on entered into/complete Contracts, Client&rsquo;s claims against the Contractor and the results of consideration thereof, the penal sanctions, imposed on the Contractor under the Agent contract for
                    getting clients, the data on complete and outstanding obligations under the Contracts, on the bonuses provided to the Contractor, campaigns of the Contractor, previous or authorized, shall be indicated in the Contractor&rsquo;s personal area.
                </span>
            </p>
            <p class="c2">
                <span>1.10. Client&rsquo;s personal area shall mean a special part of the Site, not available for public, to be accessed by entry of the Authentication data (login &ndash; access name and password &ndash; access code). The data on the Client&rsquo;s
                    personal account, on the placed Orders, completed Contracts, claims, filed by the Client to the Contractors and the results of consideration thereof, the Contractor&rsquo;s obligations to eliminate the defects in completed Works, the bonuses, special
                    offers the Client is authorized to use, the campaigns previous or authorized, shall be indicated in the Client&rsquo;s personal area;
                </span>
            </p>
            <p class="c2">
                <span>1.11. Order confirmation shall mean the automatic Acceptance notice sent to the Client, referring to his Order with the Contractor&rsquo;s identification data.
                </span>
            </p>
            <p class="c2">
                <span>1.12. Acquirer shall mean the credit institution, which entered with DC Ventures, LLC a transactions processing agreement concerning payments for works/services over the Internet with payment cards by way of online payments. The Acquire shall
                    process all the financial transactions, related to settlements and payments between the users of the site and/or DC Ventures, LLC.</span>
            </p>
            <h3 class="c0" id="h.x47daoply69">
                <span>2. General terms</span>
            </h3>
            <p class="c2">
                <span>2.1. DC Ventures, LLC shall provide access to complex Internet Services, including different rating Services, facility services, information contain projects, available through PC and different mobile devices, both existing now and developed in
                    future (DC Ventures, LLC Services).</span>
            </p>
            <p class="c2">
                <span>2.2. The User has acknowledged and agreed that DC Ventures, LLC Services may contain messages from DC Ventures, LLC, such as maintenance messages, automatic notices and newsletters from DC Ventures, LLC.
                </span>
            </p>
            <p class="c2">
                <span>2.3. All DC Ventures, LLC Services, including the mail service shall be provided on &ldquo;as is&rdquo; basis. DC Ventures, LLC shall not assume any liability for delay, delete, failure to deliver or impossibility to upload any User&rsquo;s
                    data, including the User&rsquo;s settings, and it shall also not be liable for the Service compliance with the User&rsquo;s goals. The User shall independently resolve all the issues related to the Internet access, purchase and setup of corresponding
                    equipment and software products, these issues shall not fall under the scope hereof.
                </span>
            </p>
            <p class="c2">
                <span>2.4. The User acknowledges that DC Ventures, LLC shall be entitled to collect anonymized statistical data on the users of DC Ventures, LLC Services in accordance with the personal data processing policy.
                </span>
            </p>
            <p class="c2">
                <span>2.5. DC Ventures, LLC shall be entitled to impose any additional requirement and limit as to Site registration and to the Service use.
                </span>
            </p>
            <p class="c2">
                <span>2.6. To use the Internet service as an aggregate of computer software DC Ventures, LLC shall grant to the User (licensee) under condition of ordinary (non-exclusive) free license the right to use free (software) functionalities of the Internet
                    service. The User (licensee) shall be entitled to use additional commercial (software) functionalities of the Internet service of DC Ventures, LLC under condition of ordinary (non-exclusive) free license for the term, provided for by corresponding
                    additional commercial (software) functionalities of the Internet service by access to additional commercial (software) functionalities of the Internet service and its actual use within the territory of Internet service availability.
                </span>
            </p>
            <h3 class="c0" id="h.as3n5kxcw9r8">
                <span>3. Entry of the User agreement into effect</span>
            </h3>
            <p class="c2">
                <span>3.1. The present User agreement, as well as the amendments and supplements hereto shall become effective when published at the following url: https://www.getshiny.ru/terms. The User&rsquo;s approval of the User agreement shall be expressed by
                    his registration at any of DC Ventures, LLC Services of by actual use of DC Ventures, LLC Services.
                </span>
            </p>
            <p class="c2">
                <span>3.2. The User shall be entitled to refuse from amendments and supplements to the UA made by DC Ventures, LLC, which shall mean the User&rsquo;s refuse to use DC Ventures, LLC Services.
                </span>
            </p>
            <p class="c2 c3">
                <span></span>
            </p>
            <h3 class="c0" id="h.41r1orsyp93q">
                <span>4. The user&rsquo;s obligation to register in the Internet service
                </span>
            </h3>
            <p class="c2">
                <span>4.1. To use DC Ventures, LLC Services and to get the rights to use additional (software) functionalities of the Internet service the User shall undergo the following registration procedure:
                </span>
            </p>
            <p class="c2">
                <span>4.1.1. Fill in the registration form on DC Ventures, LLC Services or undergo the registration procedure with help of administration (or moderators) of the Service. While filling in the registration form the User shall choose Login and Password,
                    necessary for further access to the Site, as well as the information data.</span>
            </p>
            <p class="c2">
                <span>4.1.2. Herewith DC Ventures, LLC shall not verify the information, provided by the User, hereinafter referred to as the account data (if the terms of use of a certain service do not provide otherwise), and it shall not be liable to the third
                    parties for correctness and reliability of the account data, and it shall not consider the account data, provided by the User, as the User&rsquo;s personal data.
                </span>
            </p>
            <p class="c2">
                <span>By placing his accounting and other information and data and by acceding to the User agreement the User gives his consent to DC Ventures, LLC to process his accounting and other data, to reflect such data in the User profile and corresponding
                    Services considering available functionalities (which can be changed from time to time at discretion of DC Ventures, LLC), and also that the account and other data, reflected in the profile, shall be considered available for the Internet users
                    considering such functionalities. The User gives his consent to transfer the account and other data to the third parties, including for processing thereof, to ensure operation of the Site, Services, to implement partner and other Site programs of the
                    Site, if DC Ventures, LLC ensures in relation to the data transferred that the recipient thereof shall have the mode, similar to the Site mode.
                </span>
            </p>
            <p class="c2">
                <span>The purpose of the User account data processing shall include provision to the latter of the capacity to use the Services and the rights to use additional (software) functionalities of the Internet service, to analyze received statistical data
                    and to perform other actions, described in the User agreement. The User account data shall be processed from the moment of the User registration till the moment when his account has been deleted.
                </span>
            </p>
            <p class="c2">
                <span>The User agrees that during the account data processing DC Ventures, LLC shall be entitled to perform the following actions with data: collection, systematization, accumulation, storage, use, destruction and other actions, necessary for the
                    purposes hereof. After registration of the account record the User shall be entitled to fill in the account record of the User with his content independently or with help of moderators, including adding photographs, place service information and
                    using other rights, provided by DC Ventures, LLC. Herewith the User shall not place on DC Ventures, LLC Services the photographs, e-mail addresses and other personal information of other Users or any third party without their personal consent with
                    such actions.
                </span>
            </p>
            <p class="c2">
                <span>4.2. The User shall be personally liable for safety and protection of his Password and information data.
                </span>
            </p>
            <p class="c2">
                <span>4.2.1. DC Ventures, LLC shall not be liable and shall not guarantee safety of the User data in the following cases: transfer to the third parties (intentionally or carelessly) of the Password; access to the User mailbox by the third parties
                    with software facilities, which allow password attack and/or decoding; access to the User mailbox by password attack; User&rsquo;s failure to comply with the recommendations, indicated herein or in the Service interface.
                </span>
            </p>
            <p class="c2">
                <span>4.3. DC Ventures, LLC shall be entitled to provide to the User the capacity to transfer the account data to the third parties by special technologies (Open ID, etc.), if the User agrees to such transfer. Herewith DC Ventures, LLC shall not
                    guarantee complete and correct transfer of the account data and shall not be liable for the data safety while transferred.
                </span>
            </p>
            <p class="c2">
                <span>4.4. The User shall:</span>
            </p>
            <p class="c2">
                <span>4.4.1. promptly notify DC Ventures, LLC about any password or account record use, unauthorized by the User, or about any other security violation;
                </span>
            </p>
            <p class="c2">
                <span>4.4.2. exit from his account (terminate each session with &ldquo;exit&rdquo; button) upon termination of work with his account and personal part of DC Ventures, LLC services. DC Ventures, LLC shall not be liable for possible loss or damage to
                    the data, which may occur due to failure to comply with the recommendations, given in section 4 hereof.
                </span>
            </p>
            <p class="c2">
                <span>4.5. The User Password to all the DC Ventures, LLC Services may be restored in case of correct and full information given during the account registration. If the User neglects to give correct and full registration details, the DC Ventures, LLC
                    support desk shall not be able to restore password at request. DC Ventures, LLC recommends keeping the password safe and fill in the registration form of DC Ventures, LLC Services correctly and in full.
                </span>
            </p>
            <h3 class="c0" id="h.u6vqj7ak62oi">
                <span>5. Registered user code of conduct</span>
            </h3>
            <p class="c2">
                <span>5.1. The User shall be completely liable both for the contents of his messages and for all the information, data and other materials (hereinafter referred to as the &ldquo;Materials&rdquo;), publicly published and/or transferred by DC Ventures,
                    LLC Services. This means that the User, and not DC Ventures, LLC, shall be liable for all the materials, uploaded, sent, received, transferred or otherwise made available by the User with help of DC Ventures, LLC Service.
                </span>
            </p>
            <p class="c2">
                <span>5.1.1. The User agrees that when the User uploads the Materials on the Site, he shall provide access thereto for the remained registered Users by default. DC Ventures, LLC shall be only the facility, allowing the User to access and provide the
                    Materials to public.
                </span>
            </p>
            <p class="c2">
                <span>5.2. The User shall not use DC Ventures, LLC Service to do the following:
                </span>
            </p>
            <p class="c2">
                <span>5.2.1. represent falsely himself to be another person or representative of a company and/or society, including DC Ventures, LLC Support desk, DC Ventures, LLC employees, moderators, and also false representation;
                </span>
            </p>
            <p class="c2">
                <span>5.2.2. upload, send, transfer or otherwise publish the materials the User is not entitled to make available by law or under any agreement with the third parties;
                </span>
            </p>
            <p class="c2">
                <span>5.2.3. upload, send, transfer or otherwise publish the materials, which violate the rights of the third parties, including the trademark (service mark) rights, commercial secret, and/or violate any other intellectual property rights of the
                    third parties;
                </span>
            </p>
            <p class="c2">
                <span>5.2.4. violate any effective Russian and/or international law, as well as the laws of foreign states;
                </span>
            </p>
            <p class="c2">
                <span>5.2.5. collect and keep the personal data of the third parties;
                </span>
            </p>
            <p class="c2">
                <span>5.2.6. send somebody e-mails by placing on DC Ventures, LLC Services of the text, photo and video materials with rude, indecent or abusive expressions and offers;
                </span>
            </p>
            <p class="c2">
                <span>5.2.7. place links to the Internet resources with the content, which contradict the effective RF laws.
                </span>
            </p>
            <p class="c2">
                <span>5.3. Apart from the cases, established hereby and by the effective Russian laws, no materials may be copied (reproduced), processed, distributed, reflected, published, downloaded, transferred or otherwise used in its entirety or partially
                    without a prior consent of DC Ventures, LLC or of corresponding right holder, except for the cases when the right holder gave his direct consent for free use of the material.
                </span>
            </p>
            <p class="c2">
                <span>5.4. The User shall be entitled to place intellectual property objects using DC Ventures, LLC Services, if he holds the rights to use such objects.
                </span>
            </p>
            <p class="c2">
                <span>5.5. Any use of DC Ventures, LLC Services, apart from the cases, permitted herein or in case of direct consent of the author (Right holder) to such use, shall be strictly prohibited without prior written authorization of the Right holder.</span>
            </p>
            <p class="c2">
                <span>5.6. If the corresponding right holder files a reasonable complaint of violation of his rights, protected by the law, DC Ventures, LLC shall be entitled to delete the content, placed by the User, or to block the users&rsquo; access to it,
                    without a notice to the User and without explanations.
                </span>
            </p>
            <p class="c2">
                <span>5.7. The User agrees to be personally liable for all the materials and other information he uploads or otherwise brings to public notice (publishes) on DC Ventures, LLC Services or with the help thereof. The User shall not be entitled to
                    upload, transfer or publish the materials on DC Ventures, LLC Services if it has not been developed by the User or if the User has no authorization of a corresponding right holder.
                </span>
            </p>
            <p class="c2">
                <span>5.8. In case of complaints from the third parties, of materials placement by the User, the User shall settle such complaints independently and at own expense.
                </span>
            </p>
            <p class="c2">
                <span>5.9. DC Ventures, LLC shall be entitled to copy the materials to align and simplify publication and storage of the User content on the Site.</span>
            </p>
            <p class="c2">
                <span>5.11. The User agrees to be personally liable for any information and any material he places on DC Ventures, LLC Services and for his (User) interaction with other Users.
                </span>
            </p>
            <p class="c2">
                <span>5.12. DC Ventures, LLC shall not be liable for any conduct of the Users, who exploit DC Ventures, LLC Services both online and offline.
                </span>
            </p>
            <p class="c2">
                <span>5.14. DC Ventures, LLC shall be entitled at the first request of the corresponding law enforcement and other authorized state authority, but in strict compliance with the effective laws, to transfer to such state authority the information
                    available about the User.
                </span>
            </p>
            <h3 class="c0" id="h.69pmya5dl2j7">
                <span>6. Noncommercial use</span>
            </h3>
            <p class="c2">
                <span>The User shall not reproduce, repeat and copy, not sell and not resell and not use for any commercial purpose any intellectual property objects, placed on DC Ventures, LLC Services, except for the cases when DC Ventures, LLC provided its direct
                    authorization.
                </span>
            </p>
            <h3 class="c0" id="h.kxmddfx46qnk">
                <span>7. General provisions on use and storage of information and materials
                </span>
            </h3>
            <p class="c2">
                <span>7.1. The User acknowledges that DC Ventures, LLC is entitled to impose limitations of DC Ventures, LLC Services use, including the following: term of storage of messages and any other material, placed by the User, the maximum number of messages
                    to be sent or received by one User, the maximum memory space, the maximum number of requests to DC Ventures, LLC Services during a certain term, etc.
                </span>
            </p>
            <p class="c2">
                <span>7.2. DC Ventures, LLC shall be entitled to prohibit automatic request to DC Ventures, LLC Services and to terminate acceptance of any automatically generated information (e.g. Spam). DC Ventures, LLC at own discretion shall be entitled to
                    terminate connection with networks, which violate the effective Russian and international laws, the conditions hereof and general principles of interaction in the Internet.
                </span>
            </p>
            <p class="c2">
                <span>7.3. The User agrees that when he uses functionality of DC Ventures, LLC Services, the User&rsquo;s information may be transferred to partners of DC Ventures, LLC only to secure the services, rendered by the User, and also to provide to the
                    Users the rights to us additional (software) functionalities of the Internet service, provided jointly with such partners and only within the scope, necessary for proper rendering of such services and proper provision of such rights.
                </span>
            </p>
            <h3 class="c0" id="h.d40eykvenky5">
                <span>8. Termination of effect of the account and of the user&rsquo;s site, and also deletion of materials placed by the user</span>
            </h3>
            <p class="c2">
                <span>8.1. The User agrees that DC Ventures, LLC shall reserve the right to terminate effect of the User account at any time without prior notice to the User.
                </span>
            </p>
            <p class="c2">
                <span>8.2. The account may be terminated under the following reasons: a) violation of provisions hereof and/or of DC Ventures, LLC User agreement, parts thereof, and the appendixes thereto, being its integral part; b) under a corresponding request of
                    the law enforcement authorities, under the Russian laws; c) due to unforeseeable technical problems or safety circumstances; d) due to interferences and any violation in relation to DC Ventures, LLC Services, including use of any service, software,
                    etc.
                </span>
            </p>
            <p class="c2">
                <span>8.3. DC Ventures, LLC shall retain the right at own discretion to change (moderate) or delete any information, published by the User, including the information (materials), which violates the prohibitions, set by section 5 hereof (as well as
                    any other prohibition and requirements of the effective Russian laws), including personal messages and comments, and to suspend, to limit or to terminate access to any of DC Ventures, LLC Services at any time under any reason or without reasons, with
                    a prior notice or without a notice, without liability for any damage to the User caused by such action.
                </span>
            </p>
            <p class="c2">
                <span>8.4. DC Ventures, LLC shall be entitled to delete the User account and/or to suspend, to limit or to terminate access to any of the Site services, if DC Ventures, LLC reveals that the actions of the User contain features of violations hereof.
                    And DC Ventures, LLC shall not be obliged to explain such actions. DC Ventures, LLC shall retain the right to delete any material, placed by the User on DC Ventures, LLC Services without explanations and without prior notice to the User, but DC
                    Ventures, LLC shall take all the reasonable efforts to avoid such situations.
                </span>
            </p>
            <p class="c2">
                <span>8.5. Termination of effect of the User account shall assume: a) deletion of the User access to personal part of all DC Ventures, LLC Services; b) deletion of password and User files and his personal settings from the site.
                </span>
            </p>
            <p class="c2">
                <span>8.6. The User shall be entitled to refuse from using his account on DC Ventures, LLC Services, herewith the materials, placed on DC Ventures, LLC Services, shall be permanently destructed.
                </span>
            </p>
            <h3 class="c0" id="h.331l2o1ffi94">
                <span>9. Right of DC Ventures, LLC for intellectual property objects</span>
            </h3>
            <p class="c2">
                <span>9.1. The User acknowledges and agrees that DC Ventures, LLC Services contain audiovisual works, software, trademarks and other intellectual property objects, the rights thereto are held by DC Ventures, LLC (and/or by DC Ventures, LLC
                    counterparty), and it shall not be used without a prior consent of DC Ventures, LLC.
                </span>
            </p>
            <p class="c2">
                <span>9.2. The User shall not reproduce, copy, modify, sell, bring to public attention, not distribute the content and software of the Internet service, in full or partially, excluding the cases, when the User agreement or the terms of use of any DC
                    Ventures, LLC Service provide otherwise.
                </span>
            </p>
            <h3 class="c0" id="h.2acsbdcj8h78">
                <span>10. Rendering of services and liability of DC Ventures, LLC</span>
            </h3>
            <p class="c2">
                <span>The User understands and agrees with the following:
                </span>
            </p>
            <p class="c2">
                <span>10.1. The User shall exploit DC Ventures, LLC Services on &ldquo;as is&rdquo; basis. DC Ventures, LLC shall not assume any liability, including the liability for compliance of DC Ventures, LLC Services with the User goals;
                </span>
            </p>
            <p class="c2">
                <span>10.2. DC Ventures, LLC shall not guarantee that the Services are in compliance with the User requirements; that it will be provided without interruptions, quickly, securely and without errors; that the deliverables, which may be received by the
                    User, will be correct and reliable; that the quality of any product, information and other, received with help of DC Ventures, LLC Services, will be in compliance with the User expectations, and that all the software errors will be corrected;
                </span>
            </p>
            <p class="c2">
                <span>10.3. The User shall be entitled to exploit any material (intellectual property objects), received by the User with help of DC Ventures, LLC Services, at his own risk and peril, herewith the User shall be liable for any damage to the User PC
                    and data resulting from download of such materials;
                </span>
            </p>
            <p class="c2">
                <span>10.4. DC Ventures, LLC shall not be liable for any direct or indirect loss, resulted from use or impossibility to use DC Ventures, LLC Services; from unauthorized access to the User communications; from fraudulent actions of the third parties,
                    including use of DC Ventures, LLC designation or trade mark for lucrative purposes.
                </span>
            </p>
            <p class="c2 c3">
                <span></span>
            </p>
            <p class="c2">
                <span>10.5. DC Ventures, LLC shall not be liable for commercial use of the mail box, including storage of documents and business correspondence.
                </span>
            </p>
            <p class="c2">
                <span>10.6. DC Ventures, LLC may render Services (hereinafter referred to as the &ldquo;Services&rdquo;) to the User, related to delivery of information about placement on the Site of the Customer&rsquo;s Order, as well as the service related to
                    possibility to leave an Offer to the Order. The Services shall be rendered by the Company to all the Users in return for a fee.
                </span>
            </p>
            <p class="c2">
                <span>DC Ventures, LLC shall:
                </span>
            </p>
            <ul class="c4 lst-kix_6jc13farf1dw-0 start">
                <li class="c1">
                    <span>render Services to the User in accordance with the procedure and under conditions hereof;
                    </span>
                </li>
                <li class="c1">
                    <span>in the course of the Services provide access by the User to Profile data with help of login and password;
                    </span>
                </li>
                <li class="c1">
                    <span>consider the money received with the payment purpose including ID (a number, which allows DC Ventures, LLC to identify the User) a Service fee.</span>
                </li>
            </ul>
            <p class="c2">
                <span>DC Ventures, LLC shall be entitled:</span>
            </p>
            <ul class="c4 lst-kix_fld8g3h4ql71-0 start">
                <li class="c1">
                    <span>temporary to suspend the Services to the User for technical, process or other reasons, preventing the Services, for the term while these reasons are being eliminated;
                    </span>
                </li>
                <li class="c1">
                    <span>to suspend the Services by sending a corresponding notice to the User e-mail address, indicated by the latter when he used the Site, if the User violates obligations and/or guarantees, assumed in accordance with the user agreement.
                    </span>
                </li>
            </ul>
            <p class="c2">
                <span>The User shall be entitled:
                </span>
            </p>
            <ul class="c4 lst-kix_rraab0f5yhe1-0 start">
                <li class="c1">
                    <span>use DC Ventures, LLC Services under condition of Acceptance of the user agreement, placed at the following url: https://www.getshiny.ru/terms as an Offer;
                    </span>
                </li>
                <li class="c1">
                    <span>accept DC Ventures, LLC Services in accordance with the procedure and within the terms, set by the user agreement.
                    </span>
                </li>
            </ul>
            <p class="c2">
                <span>The User shall:</span>
            </p>
            <ul class="c4 lst-kix_5iwv4zsiiwps-0 start">
                <li class="c1">
                    <span>in the course of use of DC Ventures, LLC Services comply with all the Service terms, set by the user agreement.
                    </span>
                </li>
                <li class="c1">
                    <span>promptly pay for DC Ventures, LLC Services;
                    </span>
                </li>
                <li class="c1">
                    <span>when pays for the Company Services, indicate ID number (a number, which allows the Company to identify the User);
                    </span>
                </li>
                <li class="c1">
                    <span>not abuse the possibilities, independently or with the third parties not use the Services and/or possibilities of DC Ventures, LLC Services for the purposes, which may be qualified as violation of the third parties&rsquo; rights for the
                        intellectual property rights, unfair business practices, any violation of law; not to perform the actions, which affect normal operation of the Site.
                    </span>
                </li>
            </ul>
            <p class="c2">
                <span>10.7. DC Ventures, LLC Service fee shall be defined depending on the Order type and for convenience it may be included to the offer price both of the Customer and of the Contractor.
                </span>
            </p>
            <p class="c2">
                <span>10.8. In the Orders without fee the Offer placement cost shall be indicated on the Order&rsquo;s page.
                </span>
            </p>
            <p class="c2">
                <span>10.9. The Services shall be considered paid by the User when the Company receives a bank confirmation that the entire payment amount has been received to the settlement account of DC Ventures, LLC or if DC Ventures, LLC acknowledges the payment
                    in favor of DC Ventures, LLC through the payment system in case of electronic payment by the User.
                </span>
            </p>
            <p class="c2 c3">
                <span></span>
            </p>
            <p class="c2">
                <span>10.10. The Customer and the Contractor shall confirm the Order is complete with the Site Services. In case of deviation in the information, received from the Customer and the Contractor as to the Order Price and the completion thereof, DC
                    Ventures, LLC shall be entitled to verify and to correct the final Order Price and also to set if the Order has been or has not been completed. The Customer and the Contractor shall comply with the terms of the Resource usage agreement and shall
                    provide to the Administration only reliable information as to all the terms of the Orders, especially as to the Price and standard of performance. The decision of DC Ventures, LLC as to setting the Price and the fact if the Order has been or has not
                    been completed, shall be final and not subject to amendment.
                </span>
            </p>
            <p class="c2">
                <span>The Services shall be considered rendered by DC Ventures, LLC to the User:
                </span>
            </p>
            <ul class="c4 lst-kix_65ieyi8a2vvc-0 start">
                <li class="c1">
                    <span>at the moment when the Offer was placed in the Order without a fee;
                    </span>
                </li>
                <li class="c1">
                    <span>after setting of the fact if the Order has been or has not been completed, in the Orders, different from the Orders without a fee.
                    </span>
                </li>
            </ul>
            <p class="c2">
                <span>10.11. On a monthly basis (on the last day of the reporting period) and/or upon completion of the Services, DC Ventures, LLC shall issue an unilateral Service report in accordance with the volume of the Services, actually rendered within the
                    reporting period. The reporting period shall make a calendar month. It shall be considered that DC Ventures, LLC properly rendered the Services and accepted by the User in volume, indicated in the Service report, if within ten calendar days of
                    termination of the reporting period DC Ventures, LLC has not received from the User reasonable written objections. Upon expiration of the abovementioned term the User claims as to defects in the Services, including the scope (volume), cost and
                    quality shall be invalid.
                </span>
            </p>
            <h3 class="c0" id="h.t6rwkit5lx9p">
                <span>11. DC Ventures, LLC confidentiality obligations
                </span>
            </h3>
            <p class="c2">
                <span>11.1. DC Ventures, LLC shall be entitled to use the User identification technologies, including those with cookies files, and also to use such technologies for marketing purposes to study the Users&rsquo; preferences. Herewith such
                    identification shall have non-personalized and general character, DC Ventures, LLC shall not monitor the actions by certain Users and shall not transfer their data. Nevertheless, such data may be provided to competent authorities in accordance with
                    the effective Russian laws.
                </span>
            </p>
            <p class="c2">
                <span>11.2. Within the scope of its Services DC Ventures, LLC shall maintain confidentiality of messages and information about Users of DC Ventures, LLC, excluding the cases, provided for by the Russian laws.
                </span>
            </p>
            <p class="c2">
                <span>11.3. The User hereby provides his consent to use his registration details by DC Ventures, LLC in general form for targeting purposes on DC Ventures, LLC Services.
                </span>
            </p>
            <h3 class="c0" id="h.crutwdcxd1sn">
                <span>12. Exclusive scope zone of User-Contractor services within the premises cleaning service platform
                </span>
            </h3>
            <p class="c2">
                <span>All the rooms: handle dust, wipe all the available surfaces, tables, window sills and cabinet leaves, clean and polish windows, clean lamps (if accessible), clean baseboards, vacuum-clean carpeted floors, vacuum-clean and dust other floor
                    coatings, take the garbage out.
                </span>
            </p>
            <p class="c2">
                <span>Entrance hall: arrange shoes and outer garments, wardrobes and shelves.
                </span>
            </p>
            <p class="c2">
                <span>Kitchen: clean tabletop and splash backs, clean outer panels of the oven, cooking top and kitchen hood (if accessible), clean outer panels of the microwave oven, refrigerator and dishwasher, dust outer panels of kitchen cabinets and boxes, dust
                    and clean kitchen appliances (coffee machine, etc.), clean and polish kitchen sink and plumbing equipment.
                </span>
            </p>
            <p class="c2">
                <span>Bathroom: clean tiles and partitions, bath-tub, shower room and toilet table, clean toilet, dust outer panels of kitchen cabinets and boxes, take the garbage out, clean a toothbrush holder.
                </span>
            </p>
            <p class="c2">
                <span>Bedroom: make the bed, dust the furniture, clean and polish mirror surfaces.
                </span>
            </p>
            <p class="c2">
                <span>Living room: clean the furniture (chairs, sofas), dust home appliances.</span>
            </p>
            <p class="c2">
                <span>Upon completion: take the garbage out.</span>
            </p>
            <p class="c2 c3">
                <span></span>
            </p>
            <h3 class="c0" id="h.9ey7e3srh4qx">
                <span>13. Information safety</span>
            </h3>
            <p class="c2">
                <span>13.1. The User shall not be entitled to access any other information of DC Ventures, LLC Services, apart from own information of the User, as well as the publicly available information on DC Ventures, LLC Services.
                </span>
            </p>
            <p class="c2">
                <span>13.2. If DC Ventures, LLC reveals a person who performs the actions, which are qualified to be spam, it shall be entitled to block mail messages from the mail address of such person (including the Users) in DC Ventures, LLC system.
                </span>
            </p>
            <p class="c2">
                <span>13.3. DC Ventures, LLC shall not be liable for safety of the User login and password with DC Ventures, LLC, if for access the User exploits the forms on outer Web-sites.
                </span>
            </p>
            <h3 class="c0" id="h.mp0xzgggxes9">
                <span>14. Interruptions of the Internet service
                </span>
            </h3>
            <p class="c2">
                <span>14.1. DC Ventures, LLC shall be entitled to hold preventive maintenance on DC Ventures, LLC Services with temporary suspension of operation of DC Ventures, LLC Services.
                </span>
            </p>
            <p class="c2">
                <span>14.2. In case of force-majeure circumstances, as well as accidents or breakdowns of hardware and software complex of the third parties, cooperating with DC Ventures, LLC, or in case of actions of the third parties, related to suspension or
                    termination of operation of all or part of DC Ventures, LLC Services, suspension of DC Ventures, LLC Services shall be possible without a notice to the Users.
                </span>
            </p>
            <h3 class="c0" id="h.it3ngecrk1am">
                <span>15. Feedback and claims management</span>
            </h3>
            <p class="c2">
                <span>The User, who believes that his rights and interests have been violated due to actions of DC Ventures, LLC, shall be entitled to send a claim. The DC Ventures, LLC User support desk considers the claims in accordance with the general procedure
                    of requests consideration. The contact details to address DC Ventures, LLC as placed at the following url: https://www.getshiny.ru
                </span>
            </p>
            <p class="c2">
                <span>On issues, which concern operation of DC Ventures, LLC Services the User may address the User support desk at the following url: https://www.getshiny.ru</span>
            </p>
            <p class="c2">
                <span>The User and DC Ventures, LLC have agreed that all the possible disputes under the User agreement shall be resolved in accordance with the effective Russian laws.
                </span>
            </p>
            <h3 class="c0" id="h.cxjnflau5gg3">
                <span>16. General information</span>
            </h3>
            <p class="c2">
                <span>16.1. Noting in the User agreement may be considered as setting between the User and DC Ventures, LLC the agent&rsquo;s, partnership, &nbsp;joint venture, personal employment or any other relations, not provided for hereby.
                </span>
            </p>
            <p class="c2">
                <span>16.2. If the court declares any provision hereof invalid or unenforceable, it shall not result in invalidity or unenforceability of other provisions hereof.
                </span>
            </p>
            <p class="c2">
                <span>16.3. Omission by DC Ventures, LLC in case of violation by the User or by any third party of the provisions hereof shall not constitute waiver by DC Ventures, LLC of further actions to protect its interests in future.
                </span>
            </p>
            <p class="c2">
                <span>16.4. All the disputes between the parties hereunder shall be resolved by way of correspondence and negotiations using out-of-court (complaint) procedure for the settlement of disputes. If the parties fail to reach the consent by way of
                    negotiations within 60 (sixty) calendar days from the moment when the other Party received a written complaint, any interested party shall be entitled to refer the complaint to court at the place of location of DC Ventures, LLC (contractual
                    jurisdiction).
                </span>
            </p>
            <h3 class="c0" id="h.gq2pkh27lm3w">
                <span>17. Amendments and supplements to the UA</span>
            </h3>
            <p class="c2">
                <span>17.1. The User shall be entitled to refuse from acceptance of amendments and supplements hereto, made by DC Ventures, LLC, which shall mean the User&rsquo;s refusal from the Internet service and from previously granted rights.
                </span>
            </p>
            <p class="c2">
                <span>17.2. If the competent authorities of the Russian Federation enforce legal regulations, affecting operation of DC Ventures, LLC and of it Services in full or partially, DC Ventures, LLC shall retain the right to make any amendments in operation
                    of DC Ventures, LLC Services, to bring the activity of DC Ventures, LLC in compliance with new regulations. &nbsp;</span>
            </p>
            <p class="c2">
                <span>Use of DC Ventures, LLC Service shall mean unconditional User&rsquo;s consent to abide the provisions of the present User agreement.
                </span>
            </p>
        </div>
    </div>
</div>
