<%= content_tag :section, class: 'm-t-50 p-b-60 p-t-60' do %>
  <div class="container">
    <h3><%= t('menu.terms') %></h3>
    <%= render partial: "shared/terms/#{I18n.locale}" %>
  </div>
<% end %>
