<div class="container">

  <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-title">Edit Professional</div>
      </div>
      <div class="panel-body">
        <%= render partial: "form" %>
      </div>
    </div>
</div>
