<div id="cart_datepicker" class="input-group date">
    <!-- <%= f.label :date %> -->
    <%= f.text_field :date, class: "form-control input-lg" %>
    <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </span>
</div>
