<%= form_for(cart) do |f| %>
<%= render partial: 'dashboard/errors', locals: { object: cart } %>

<br>
<div class="row">
    <%= link_to 'Back', products_path, class: 'btn btn-danger' %>
    <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
