<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Your Title Here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="/Templates/Getshiny/images/ico/shiny.svg">
    <link rel="apple-touch-icon" sizes="76x76" href="/Templates/Getshiny/images/ico/shiny.svg">
    <link rel="apple-touch-icon" sizes="120x120" href="/Templates/Getshiny/images/ico/shiny.svg">
    <link rel="apple-touch-icon" sizes="152x152" href="/Templates/Getshiny/images/ico/shiny.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if lte IE 9]> <link href="/pages/css/ie9.css?v=pages-v1.0.0" rel="stylesheet" type="text/css" /> <![endif]-->
    <script type="text/javascript">
        window.onload = function() {
            // fix for windows 8
            if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="/pages/css/windows.chrome.fix.css?v=pages-v1.0.0" />'
        }
    </script>

    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->

    <script src="/Templates/Getshiny/application.js" data-turbolinks-track="true" data-turbolinks-eval="false"></script>
    <meta name="ROBOTS" content="NONE">
    <script type="text/javascript" src="/Templates/Getshiny/custom.js"></script>
    <script type="text/javascript" src="/Templates/Getshiny/jquery.11.min.js"></script>
    <script type="text/javascript" src="/Templates/Getshiny/jquery.migrate.min.js"></script>
    <script type="text/javascript" src="/Templates/Getshiny/device.min.js"></script>
    <script type="text/javascript" src="/Templates/Getshiny/payture.min.v1.0.js"></script>

    <!-- // <script src="Templates/Getshiny/application.js" data-turbolinks-track="true" data-turbolinks-eval="false"></script>
    // <script type="text/javascript" src="Templates/Getshiny/custom.js"></script>
    // <script type="text/javascript" src="Templates/Getshiny/jquery.11.min.js"></script>
    // <script type="text/javascript" src="Templates/Getshiny/jquery.migrate.min.js"></script>
    // <script type="text/javascript" src="Templates/Getshiny/device.min.js"></script>
    // <script type="text/javascript" src="Templates/Getshiny/payture.min.v1.0.js"></script> -->

    <script type="text/javascript">
        $(document).ready(function() {
            Payture.eWalletPay({
                PaymentKey: "AutoCardActivate"
            });
        })
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/Templates/Getshiny/application.css" rel="stylesheet" type="text/css">
    <!-- <link href="Templates/Getshiny/application.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
    <nav class="header md-header light-solid" data-pages="header" data-pages="header">
        <div class="container relative">
            <div class="pull-left">
                <div class="header-inner">
                    <a href="https://www.getshiny.com/?locale=en">
                        <img class="logo" src="/Templates/Getshiny/images/shiny.svg" alt="Shiny" />
                    </a>
                </div>
            </div>
            <div class="pull-right menu-content clearfix" data-pages-direction="slideRight" id="header">
                <div class="p-t-10 p-b-10 clearfix m-b-5">
                    <div class="pull-right fs-12">
                        <a class="m-r-10" data-turbolinks="false" href="/clean?locale=en"></a>
                        <a class="m-r-10" data-turbolinks="false" href="/clean?locale=fr"></a>
                        <a class="m-r-10" data-turbolinks="false" href="/clean?locale=ru"></a>
                        <a href="tel:+79263911284" class="text-black font-montserrat hidden-xs m-r-10">+7 (926) 391-12-84</a>
                    </div>
                </div>
                <ul class="menu">
                    <li class='hidden-xs'>
                        <a href="https://www.getshiny.com/pricing?locale=en">Pricing</a>
                    </li>
                    <li class='hidden-xs'>
                        <a href="https://www.getshiny.com/questions?locale=en">Q&amp;A</a>
                    </li>
                    <li class='hidden-xs'>
                        <a href="https://www.getshiny.com/about?locale=en">About us</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-primary text-white" data-turbolinks="false" href="https://www.getshiny.com/clean?locale=en">Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p class="notice"></p>
    <p class="alert"></p>
    <div class="container m-t-90">
        <div class="row">
            <div class="col-sm-4 col-sm-push-8">
                <div class="panel panel-default">
                    <div class="panel-heading separator">
                        <div class="panel-title">
                            Summary of your booking
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="booking_details list-unstyled">
                            <li class="booking_details_item">
                                <span class="booking_detail_name detail">
                    Date</span>
                                <span class="pull-right value cart_date_summary"><!-- Javascript --></span>
                            </li>
                            <li class="booking_details_item">
                                <span class="booking_detail_name detail">
                    Time</span>
                                <span class="pull-right value cart_time_summary"><!-- Javascript --></span>
                            </li>
                            <li class="booking_details_item">
                                <span class="booking_detail_name detail">
                    How often</span>
                                <span class="pull-right value cart_frequency_summary"><!-- Javascript --></span>
                            </li>
                            <li class="booking_details_item">
                                <span class="booking_detail_name detail">
                    Duration</span>
                                <span class="pull-right value cart_duration_summary"><!-- Javascript --></span>
                            </li>
                        </ul>
                        <ul class="booking_details_cost list-unstyled">
                            <li class="booking_details_item hint-text">
                                <span class="booking_detail_name detail">
                    Cost of clean</span>
                                <span class="pull-right value cart_cost_summary"><!-- Javascript --></span>
                            </li>
                            <li class="booking_details_item discount_summary hint-text">
                                <span class="booking_detail_name detail">
                    Discount</span>
                                <span class="pull-right value cart_discount_summary"><!-- Javascript --></span>
                            </li>
                            <li class="booking_details_item cost_total_summary">
                                <h4 class="text-primary"><span class="booking_detail_name detail">
                    Final price</span><span class="pull-right value cart_cost_total"><!-- Javascript --></span></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="list-unstyled hidden-xs hint-text">
                    <li class="list-cc-item">
                        <i class="fa fa-3x fa-cc-mastercard"></i>
                    </li>
                    <li class="list-cc-item">
                        <i class="fa fa-3x fa-cc-visa"></i>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="errorTop" class="text-danger">{error}</div>
                        <form class="payForm" id="payForm" name="payForm">
                            <input name="Key" value="{key}" type="hidden">
                            <input type="hidden" name="AddCard" value="True">
                            <div class="row row-separator text-center selectCard">
                                <h4 class="text-center">Select card</h4>
                                <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4 selectCard">
                                    <select class="form-control input-lg" name="CardId">
                                            <option selected="selected" value="FreePay">Other</option>
                                            {cards}
                                        </select>
                                    <a href="" id="removeCard">Remove card</a>
                                </div>
                            </div>
                            <!-- Card -->
                            <div class="row card">
                                <div class="col-md-offset-2 col-md-8">
                                    <h4 class="text-center">Add a card</h4>
                                    <!-- <div class="CardType clearfix"></div> -->
                                    <div class="CardNumber clearfix form-group-attached">
                                        <div class="error"></div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label for="CardNumber0">Card #</label>
                                                    <label for="CardNumber0" class="text-white">text</label>
                                                    <input name="CardNumber0" maxlength="4" type="text" class="onlyNum form-control" autocomplete="off" next="CardNumber1">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label for="CardNumber1" class="text-white">text</label>
                                                    <input name="CardNumber1" maxlength="4" type="text" class="onlyNum form-control" autocomplete="off" next="CardNumber2" prev="CardNumber0">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label for="CardNumber2" class="text-white">text</label>
                                                    <input name="CardNumber2" maxlength="4" type="text" class="onlyNum form-control" autocomplete="off" next="CardNumber3" prev="CardNumber1">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label for="CardNumber3" class="text-white">text</label>
                                                    <input name="CardNumber3" maxlength="7" type="text" class="onlyNum form-control" autocomplete="off" prev="CardNumber2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="CardHolder">Card Holder</label>
                                                    <input name="CardHolder" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-2">
                                                <div class="form-group">
                                                    <label for="EMonth">Month</label>
                                                    <input name="EMonth" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-2">
                                                <div class="form-group">
                                                    <label for="EYear">Year</label>
                                                    <input name="EYear" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-2">
                                                <div class="form-group">
                                                    <label for="SecureCode">CCV</label>
                                                    <input name="SecureCode" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <button class="btn btn-primary btn-cons btn-lg btn-block">Proceed</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
