<div class="panel panel-default">
    <div class="panel-heading separator">
        <div class="panel-title">
            Résumé de votre réservation
        </div>
    </div>
    <div class="panel-body">

        <ul class="booking_details list-unstyled">
            <li class="booking_details_item">
                <span class="booking_detail_name detail">
                    Date
                </span>
                <span class="pull-right value cart_date_summary">
                    <!-- Javascript -->
                </span>
            </li>

            <li class="booking_details_item">
                <span class="booking_detail_name detail">
                    Time
                </span>
                <span class="pull-right value cart_time_summary">
                    <!-- Javascript -->
                </span>
            </li>

            <li class="booking_details_item">
                <span class="booking_detail_name detail">
                    Frequency
                </span>
                <span class="pull-right value cart_frequency_summary">
                    <!-- Javascript -->
                </span>
            </li>

            <li class="booking_details_item">
                <span class="booking_detail_name detail">
                    Duration
                </span>
                <span class="pull-right value cart_duration_summary">
                    <!-- Javascript -->
                </span>
            </li>
        </ul>

        <ul class="booking_details_cost list-unstyled">

            <li class="booking_details_item hint-text">
                <span class="booking_detail_name detail">
                    Cost of Clean
                </span>
                <span class="pull-right value cart_cost_summary">
                    <!-- Javascript -->
                </span>
            </li>

            <li class="booking_details_item discount_summary hint-text">
                <span class="booking_detail_name detail">
                    Discount
                </span>
                <span class="pull-right value cart_discount_summary">
                    <!-- Javascript -->
                </span>
            </li>

            <li class="booking_details_item cost_total_summary">
              <h4 class="text-success">
                <span class="booking_detail_name detail">
                    Total Cost
                </span>
                <span class="pull-right value cart_cost_total">
                    <!-- Javascript -->
                </span>
              </h4>
            </li>

        </ul>
    </div>
</div>

<ul class="list-unstyled">
  <li class="list-cc-item"><i class="fa fa-3x fa-cc-mastercard"></i></li>
  <li class="list-cc-item"><i class="fa fa-3x fa-cc-visa"></i></li>
</ul>
