<div class="booking_summary">
    <div class="booking_summary_heading">
        Résumé de votre réservation
    </div>

    <ul class="booking_details">
        <li class="booking_details_item">
            <span class="booking_detail_name detail">
                Date
            </span>
            <span class="booking_detail_value value cart_date_summary">
                <!-- Javascript -->
            </span>
        </li>

        <li class="booking_details_item">
            <span class="booking_detail_name detail">
                Time
            </span>
            <span class="booking_detail_value value cart_time_summary">
                <!-- Javascript -->
            </span>
        </li>

        <li class="booking_details_item">
            <span class="booking_detail_name detail">
                Frequency
            </span>
            <span class="booking_detail_value value cart_frequency_summary">
                <!-- Javascript -->
            </span>
        </li>

        <li class="booking_details_item">
            <span class="booking_detail_name detail">
                Duration
            </span>
            <span class="booking_detail_value value cart_duration_summary">
                <!-- Javascript -->
            </span>
        </li>

        <div class="booking_details_cost">

          <li class="booking_details_item">
              <span class="booking_detail_name detail">
                  Cost of Clean
              </span>
              <span class="booking_detail_value value cart_cost_summary">
                  <!-- Javascript -->
              </span>
          </li>

          <li class="booking_details_item">
              <span class="booking_detail_name detail">
                  Total Cost
              </span>
              <span class="booking_detail_value value cart_cost_total">
                  <!-- Javascript -->
              </span>
          </li>

          <li class="booking_details_item">
            <div class="real-price">
              <span class="booking_detail_name detail">
                  Discount
              </span>
              <span class="booking_detail_value value cart_discount_summary">
                  <!-- Javascript -->
              </span>
            </div>
          </li>

        </div>

    </ul>

</div>
