<div class="container m-t-90">

    <div class="row">

        <div class="col-sm-4 col-sm-push-8">
            <%= render partial: './summary/index' %>
        </div>

        <div class="col-sm-8 col-sm-pull-4">
            <%= render partial: 'cart' %>
            <%= render partial: 'form' %>
        </div>

    </div>

</div>
