<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><%= t('.edit') %></div>
    </div>
    <div class="panel-body">
        <%= render 'form', discount: @discount %>
    </div>
</div>
