//= require plugins/pace/pace-theme-flash
//= require plugins/bootstrap/css/bootstrap.min
//= require plugins/font-awesome/scss/font-awesome
//= require plugins/swiper/css/swiper

//= require pages
//= require plugins/pages-icons

// .full-height{
//   height: 100% !important;
// }

@for $i from 1 through 10 {
  $step: $i*10;
  .height-#{$step}-percent {
    height: ($step*1%) !important;
  }
}

#social-bar {
  text-align: center;
}

.social-links .link, .footer-links .link {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.social-links .link {
  color: black;
}

.footer-links .link {

}

.social-links .fa {
    margin-right: 5px;
}

.text-red {
  color: #FF4847;
}
