//= require plugins/pace/pace-theme-flash
//= require plugins/bootstrap/css/bootstrap.min
//= require font-awesome
//= require plugins/swiper/css/swiper

//= require front
//= require plugins/pages-icons

// .full-height{
//   height: 100% !important;
// }

@for $i from 1 through 10 {
  $step: $i*10;
  .height-#{$step}-percent {
    height: ($step*1%) !important;
  }
}

#social-bar, #partner-bar {
  text-align: center;
}

.social-links .link {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.social-links .link, .header-links .link, .menu li .link {
  color: black;
}

.menu .social .link span {
  display: inline !important;
  text-transform: uppercase;
}



.social-links .fa {
    margin-right: 5px;
}

.text-red {
  color: #FF4847 !important;
}

#error_explanation {
  @extend .text-red !optional;
  h2 {
    font-size: 12px;
    @extend .text-red !optional;
  }
  font-size: 12px;
}
