<% if object.errors.any? %>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <ul class="list-unstyled">
        <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>

<% end %>
